<%= form_with(model: @learning, local: true) do |form| %>
  <% if @learning.errors.any? %>
     <div id="error_explanation">
       <h2><%= @learning.errors.count %>件のエラーがあります。</h2>
       <ul>
       <% @learning.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "覚えたいこと：問" %>
  </div>
    <div class="form-group">
      <%= form.label :main_content %><br>
      <%= form.text_area :main_content, placeholder: "覚えたいこと：答", size: "50x3" %>
    </div>
  <div class="form-group">
    <%= form.label :url_info %><br>
    <%= form.text_field :url_info, placeholder: "読み返したいサイト" %>
  </div>
    <div class="actions">
      <%= form.submit "保存", class: "btn btn-success", id: 12 %>
    </div>
  <div class="form-group">
    <br>
    <%= form.label :sub_content %><br>
    <%= form.text_area :sub_content, placeholder: "本項についての補足事項", size: "50x3" %>
  </div>
    <div class="form-group">
      <%= form.label :image %>
      <%= image_tag(@learning.image.url) if @learning.image && @learning.image.url %><br>
      <%= form.file_field :image %>
      <% form.hidden_field :image_cache %>
    </div>
  <div class="form-group">
    <%= form.label :label %><br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :label_name) %>
  </div>
    <div class="actions">
      <%= form.submit "保存", class: "btn btn-success" %>
    </div>
<% end %>
