<div class="container">

<h1>Learnings#history</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>
<hr style="margin:0.5rem;">
  <%= paginate @learnings %>
  <%= page_entries_info @learnings %>
<hr style="margin:0.5rem;">
<table>
  <tr>
    <th>created_on</th>
    <th>title</th>
    <th>url_info</th>
    <th>main_content </th>
    <th>sub_content</th>
    <th>image</th>
    <th>label</th>
  </tr>
<% @learnings.each do |l| %>
  <tr>
    <td><%= simple_date(l.created_on) %></td>
    <td><%= l.title %></td>
    <td><%= link_to 'URL', l.url_info, target: :_blank %></td>
    <td><%= l.main_content %></td>
    <td><%= l.sub_content %></td>
    <td><%= image_tag(l.image.url) if l.image && l.image.url %></td>

    <% l.labelings.each do |lbl| %>
      <td><%= lbl.label.label_name %><br></td>
    <% end %>

    <td><%= link_to "Revert", learning_path(l.id), method: :revert %></td>

    <td><%= link_to 'Delete', learning_path(l.id), method: :delete, data: { confirm: '項目を削除します' } %></td>
    <td><%= link_to "Edit", edit_learning_path(l.id) %></td>
  </tr>
<% end %>
</table>

</div>
