<div class="container">

<h1>Learnings#history</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>

<%= search_form_for @q, :url => history_learnings_path do |f| %>
  <%= f.label :"" %>
  <%= f.search_field :title_or_main_content_or_sub_content_or_labels_label_name_cont %>
  <%= f.submit %>
<% end %>

<hr style="margin:0.5rem;">
  <%= paginate @learnings %>
  <%= page_entries_info @learnings %>
<hr style="margin:0.5rem;">




<!--
<table>
  <tr>
    <th>title</th>
    <th>checked_times</th>
    <th>created_on</th>
    <th>url_info</th>
    <th>main_content </th>
    <th>sub_content</th>
    <th>image</th>
    <th>label</th>
  </tr> -->

</div>




  <div class="container">

    <!-- 親要素cardクラスを定義する -->
  <div class="card" style="max-width: 25rem;">
    <% @learnings.each do |l| %>

    <!-- カード見出し：card-title -->
    <h4 class="card-title">カードの見出し</h4>
    <%= l.title %>

    <!-- カード本文：card-body -->
    <div class="card-body">
      <%= l.main_content %>

      <!-- カードの内容文：card-text -->
      <p class="card-text">カードの内容文が入ります。</p>



  <a href="#" class="btn btn-primary"><%= link_to "Relearn", relearn_learning_path(l.id), method: :relearn, data: { confirm: '項目を削除します' } %></a>
  <a href="#" class="btn btn-primary"><%= link_to 'Delete', learning_path(l.id), method: :delete, data: { confirm: '項目を削除します' } %></a>
  <a href="#" class="btn btn-primary">ボタン</a>
  <a href="#" class="btn btn-primary">ボタン</a>


    </div>
  </div>



    <%= l.checked_times %>
    <%= simple_date(l.created_on) %>
    <%= link_to 'URL', l.url_info, target: :_blank %>
    <%= l.sub_content %>
    <%= image_tag(l.image.url) if l.image && l.image.url %>

    <% l.labelings.each do |lbl| %>
      <%= lbl.label.label_name %><br>
    <% end %>


    <%= link_to "Edit", edit_learning_path(l.id) %>
  </tr>
<% end %>
</table>

</div>
