<h1>Learnings#index</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>

<table>
  <tr>
    <th>title</th>
    <th>main_content</th>
  </tr>
<% @learnings.each do |l| %>
  <tr>
    <td><%= l.title %></td>
    <td><%= l.main_content %></td>

    <td>
      <strong>Image:</strong>
      <%= image_tag(l.image.url) if l.image && l.image.url %>
    </td>

    <td><%= link_to 'Delete', learning_path(l.id), method: :delete, data: { confirm: '項目を削除します' } %></td>
    <td><%= link_to "Edit", edit_learning_path(l.id) %></td>
  </tr>
<% end %>
</table>
