<h1>Learnings#index</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>

<table>
  <tr>
    <th>title</th>
    <th>checked_times</th>
    <th>created_on</th>
    <th>url_info</th>
    <th>main_content </th>
    <th>sub_content</th>
    <th>image</th>
    <th>label</th>
  </tr>
<% @learnings.each do |l| %>
  <tr>
    <td><%= l.title %></td>
    <td><%= l.checked_times %></td>
    <td><%= simple_date(l.created_on) %></td>
    <td><%= link_to 'URL', l.url_info, target: :_blank %></td>
    <td><%= l.main_content %></td>
    <td><%= l.sub_content %></td>
    <td><%= image_tag(l.image.url) if l.image && l.image.url %></td>

    <% l.labelings.each do |lbl| %>
      <td><%= lbl.label.label_name %><br></td>
    <% end %>

    <td><%= link_to 'Delete', learning_path(l.id), method: :delete, data: { confirm: '項目を削除します' } %></td>
    <td><%= link_to "Relearn", relearn_learnings_path(l.id), method: :relearn %></td>

    <td><%= link_to "Edit", edit_learning_path(l.id) %></td>
    <td><%= link_to "Check", check_item_learnings_path(l.id), method: :check_item %></td>

  </tr>
<% end %>
</table>
