<div class="container">

<h1>Learnings#index</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>

<hr style="margin:0.5rem;">
  <%= paginate @learnings %>
  <%= page_entries_info @learnings %>
<hr style="margin:0.5rem;">

<!-- <table>
  <tr>
    <th>title</th>
    <th>checked_times</th>
    <th>created_on</th>
    <th>url_info</th>
    <th>main_content </th>
    <th>sub_content</th>
    <th>image</th>
    <th>label</th>
  </tr> -->

</div>


  <div class="container">

    <!-- 親要素cardクラスを定義する -->
  <div class="card" style="max-width: 25rem;">
    <% @learnings.each do |l| %>

      <!-- カード本文：card-body -->
      <div class="card-body">

        <!-- カード見出し：card-title -->
        <h4 class="card-title"><%= l.title %></h4>

        <!-- カードの内容文：card-text -->
        <p class="card-text"><%= l.main_content %></p>

        <p class="card-text"><%= l.checked_times %></p>

        <p class="card-text"><%= simple_date(l.created_on) %></p>

        <p class="card-text"><%= link_to 'URL', l.url_info, target: :_blank  unless l.url_info.blank? %></p>

        <p class="card-text"><%= l.sub_content %></p>
        <p class="card-text"><%= image_tag(l.image.url) if l.image && l.image.url %></p>

        <% l.labelings.each do |lbl| %>
          <%= lbl.label.label_name %><br>
        <% end %>

        <div class="card-footer">

          <div class="btn-group" role="group">

          <%= link_to('Delete', learning_path(l.id),
              { method: :delete,
                data: { confirm: "項目#{l.title}を削除します"},
                class: "btn btn-info"
              }
            )
          %>

          <%= link_to("Relearn", relearn_learning_path(l.id),
              { method: :relearn,
                data: { confirm: "項目#{l.title}を再学習します"},
                class: "btn btn-info"
              }
            )
          %>

          <%= link_to "Edit", edit_learning_path(l.id), class: "btn btn-info" %>

          <%= link_to "Check", check_item_learning_path(l.id),
              { method: :check_item,
                class: "btn btn-success"
              }
          %>
        </div>

      </div>
    <% end %>
  </div>
</div>
