<div class="container">

<h1>Learnings#index</h1>

<% "nav.justify-content-end" %>

<%= link_to 'new item', new_learning_path, class: 'btn btn-primary' %>

<%= search_form_for @q do |f| %>
  <%# #conditions
  #conditionsやattributesのようにコレクションになるものに対しては、`f.condition_fields`などの`f.*_fields`を利用してね。
  #params[:q][:c]["0"]に対応するよ("0"はコレクションの連番の1つ目を表すよ。) %>
  <%= f.condition_fields do |c| %>

    <%# # attributes
    # params[:q][:c]["0"][:a]に対応するよ。 %>
    <%= c.attribute_fields do |a| %>
    
      <%# # 属性のセレクトボックスだよ。
      # `id`などの全ての属性が選択可能だよ。
      # params[:q][:c]["0"][:a]["0"][:name]に対応するよ。 %>
      <%= a.attribute_select %>
    <% end %>

    <%# # predicate
    # 述語のセレクトボックスだよ。
    # `eq`などの全ての述語が選択可能だよ。
    # params[:q][:c]["0"][:p]に対応するよ。 %>
    <%= c.predicate_select %>
<%#
    # values
    # params[:q][:c]["0"][:v]に対応するよ。 %>
    <%= c.value_fields do |v| %>
      <%# # 値のサーチフィールドだよ。
      # params[:q][:c]["0"][:v]["0"]["value"]に対応するよ。 %>
      <%= v.search_field :value %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>

<hr style="margin:0.5rem;">
  <%= paginate @learnings %>
  <%= page_entries_info @learnings %>
<hr style="margin:0.5rem;">

<table>
  <tr>
    <th>title</th>
    <th>checked_times</th>
    <th>created_on</th>
    <th>url_info</th>
    <th>main_content </th>
    <th>sub_content</th>
    <th>image</th>
    <th>label</th>
  </tr>
<% @learnings.each do |l| %>
  <tr>
    <td><%= l.title %></td>
    <td><%= l.checked_times %></td>
    <td><%= simple_date(l.created_on) %></td>
    <td><%= link_to 'URL', l.url_info, target: :_blank %></td>
    <td><%= l.main_content %></td>
    <td><%= l.sub_content %></td>
    <td><%= image_tag(l.image.url) if l.image && l.image.url %></td>

    <% l.labelings.each do |lbl| %>
      <td><%= lbl.label.label_name %><br></td>
    <% end %>

    <td><%= link_to 'Delete', learning_path(l.id), method: :delete, data: { confirm: '項目を削除します' } %></td>
    <td><%= link_to "Relearn", relearn_learnings_path(l.id), method: :relearn %></td>

    <td><%= link_to "Edit", edit_learning_path(l.id) %></td>
    <td><%= link_to "Check", check_item_learnings_path(l.id), method: :check_item %></td>

  </tr>
<% end %>
</table>

</div>
