<div class="container">
  <h3 class="mb-4"><%="ユーザー名：#{current_user.name}"%></h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="row">登録メールアドレス</th>
        <td><%= current_user.email %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">学習項目の総数</th>
        <td><%= current_user.learnings.count%></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th scope="row">
          <div class="btn-group">
          <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-info" %>
          <%= link_to 'Back', learnings_path(id: current_user.id), class: "btn btn-secondary" %>
        </div>
        </th>
      </tr>
    </tbody>
  </table>

</div>
