<!DOCTYPE html>
<html>
  <head>
    <title>RR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
    <div class="container">

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <ul style="list-style: none;">
        <a class="navbar-brand" href="###未設定###">RR</a>

              <% if user_signed_in? %>
                  <%= link_to "学習項目一覧", learnings_path %>
                  <%= link_to "学習項目履歴", history_learnings_path %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  <div>ログイン中ユーザー: <%= current_user.email %></div>
                  <%= link_to 'ユーザー情報', user_path(id: current_user.id) %>

                <% else %>
                  <%= link_to "新規登録", new_user_registration_path %>
                  <%= link_to "ログイン", new_user_session_path %>
                <% end %>
              </ul>

    </nav>

      <ul style="list-style: none;">
        <% if flash.notice.present?%>
          <li><p class="alert alert-notice"><%= notice %></p></li>
        <% elsif flash.alert.present?%>
          <li><p class="alert alert-error"><%= alert %></p></li>
        <% end %>
      </ul>
        <%= yield %>
    </div>

  </body>
</html>
