<!DOCTYPE html>
<html>
  <head>
    <title>RR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <!-- ナビゲーションバー開始 -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!-- サブコンポーネント -->
<div class="container">
  <!-- ブランド -->
  <a class="navbar-brand ">Recurring Reminder</a>
  <!-- 切替ボタン -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- ナビゲーション -->
  <div class="collapse navbar-collapse small" id="navbar-content">
    <!-- ナビゲーションメニュー -->
    <!-- 左側メニュー：トップページの各コンテンツへのリンク -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "学習項目一覧", learnings_path, class: "nav-link" if user_signed_in?  %>
      </li>

      <li class="nav-item">
        <%= link_to "学習項目履歴", history_learnings_path, class: "nav-link" if user_signed_in? %>
      </li>

      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" unless user_signed_in? %>
      </li>

      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" unless user_signed_in? %>
      </li>
      <!-- ドロップダウン -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Information
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Shop</a>
                  <a class="dropdown-item" href="#">Access</a>
                </div>
              </li> -->
    </ul>
    <!-- 右側メニュー：Contactページへのリンク -->
    <% if user_signed_in? %>
    <ul class="navbar-nav">
      <li class="nav-item btn btn-primary text-black">
        <%= link_to 'new item', new_learning_path, class: "nav-link"%>
      </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item text-white">　本日の項目数: <%= current_user.learnings.where(reappearance_date: "1900-01-01".to_date..Time.zone.today).or(current_user.learnings.where(checked_times: 0)).count %></li>
  </ul>
      <ul class="navbar-nav">
      <li class="nav-item text-white">
        <%= link_to "　ログイン中ユーザー: #{current_user.email}", user_path(id: current_user.id), class: "nav-link" if user_signed_in? %>
      </li>
    </ul>
    <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"%>
    </li>
  </ul>
    <% end %>
  </div>
</div>
</nav>

    <div class="container">
      <ul style="list-style: none;">
        <% if flash.notice.present?%>
          <li><p class="alert alert-notice"><%= notice %></p></li>
        <% elsif flash.alert.present?%>
          <li><p class="alert alert-error"><%= alert %></p></li>
        <% end %>
      </ul>
        <%= yield %>
    </div>
  </body>
</html>
