<!DOCTYPE html>
<html>
  <head>
    <title>RR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#">RR</a>
    </nav>

    <div class="container">
      <ul>
        <% if flash.notice.present?%>
         <li><%= flash.notice %></li>
        <% end %>
        <% if flash.alert.present?%>
         <li><%= flash.alert %></li>
        <% end %>
      </ul>
        <%= yield %>
    </div>

  </body>
</html>
